<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>울동대(우리 동네 대학생 커뮤니티)</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
  <link rel="stylesheet" href="boardsstyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
  <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
</head>
<body oncontextmenu='return false' class='snippet-body'>
<div class = "contain">
  <div class="container">
    <div class = title>울동대</div>
    <div class="sub-title">우리 동네 대학생들을 위한 커뮤니티</div>
    <div class="row">
      <div class="col-lg-4 col-md-6 my-lg-0 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue"> <img src="https://freepngimg.com/thumb/microphone/11-microphone-png-image-thumb.png" alt=""> </div>
            <div class="d-flex flex-column"> <b>우리 동네 핫플레이스</b> <a href="#">
              <p class="text-muted">근처 신상 카페, 맛집 공유🔥</p>
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-0 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue"> <img src="https://freepngimg.com/thumb/microphone/11-microphone-png-image-thumb.png" alt=""> </div>
            <div class="d-flex flex-column"> <b>우리 동네 핫플레이스</b> <a href="#">
              <p class="text-muted">근처 신상 카페, 맛집 공유🔥</p>
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-0 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple"> <img src="https://freepngimg.com/thumb/technology/40061-1-machining-robot-download-free-image-thumb.png" alt=""> </div>
            <div class="d-flex flex-column"> <b>모임 만들기</b> <a href="#">
              <p class="text-muted">동네 친구 만들기</p>
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-lg-3 my-3">
        <div class="box">
          <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">add</span> </div>
            <div class="d-flex flex-column"> <b>카테고리 추가하기</b> <a href="#">
              <!-- <p class="text-muted">5 classes</p> -->
            </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'></script>
</body>
</html>