@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #a4c68a;
}

.title {
    text-align: center;
    font-size : 100px;
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sub-title {
    padding-bottom: 30px;
    text-align: center;
}

.contain {
    display : flex;
    align-items: center;
    justify-content : center
}

.container {
    background-color: white;
    padding: 0 35px 50px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input::placeholder {
    text-align: center;
}

.btn {
    background-color: #a4c68a;
    margin-top: 30px;
    padding: 10px 0;
    color : white;
    border-radius: 8px;
}


